<!DOCTYPE html>
<html>
<head>
    <title>Medical Expenses Predictor</title>
</head>
<body>
    <div class="login">
        <h1>Medical Expenses Predictor</h1>
   
        <form action="{{ url_for('predict_datapoint')}}" method="post">
            <fieldset>
                <legend>Monthly Medical Expenses Prediction based on given medical conditions</legend>
                <table>
                    <tr>
                        <td><label for="Age">Age</label></td>
                        <td><input class="form-control" type="number" name="Age" placeholder="Enter Age" min="1" max="100" required /></td>
                    </tr>
                    <tr>
                        <td><label for="Gender">Gender</label></td>
                        <td>
                            <select class="form-control" name="Gender" required>
                                <option value="" disabled selected>Select your Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Cold">Cold</label></td>
                        <td>
                            <select class="form-control" name="Cold" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Cough">Cough</label></td>
                        <td>
                            <select class="form-control" name="Cough" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Fever">Fever</label></td>
                        <td>
                            <select class="form-control" name="Fever" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="BP">BP</label></td>
                        <td>
                            <select class="form-control" name="BP" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Diabetes">Diabetes</label></td>
                        <td>
                            <select class="form-control" name="Diabetes" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Thyroid">Thyroid</label></td>
                        <td>
                            <select class="form-control" name="Thyroid" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Arthritis">Arthritis</label></td>
                        <td>
                            <select class="form-control" name="Arthritis" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Acidity">Acidity</label></td>
                        <td>
                            <select class="form-control" name="Acidity" required>
                                <option value="" disabled selected>Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Others">Others</label></td>
                        <td>
                            <select class="form-control" name="Others" placeholder="Enter Yes or No" required>
                                <option class="placeholder" selected disabled value="">Select Yes or No</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Predict</button>
            </fieldset>
        </form>
        <h2>
            Monthly Medical Expenses will be {{results}} INR
        </h2>
    </div>
</body>
</html>
